{% extends "base.html" %}

{% block content %}
  
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger">
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    <h1>Entrar</h1>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <form method="POST" action="/alterar_perfil">
      <button type="submit" class="btn btn-primary">Alterar Senha ou Usuario</button>
    </div>
  </div>
{% endblock %}
